doctype html
html
    head
        title
        style
            //- @media print {
            //- html, body {
               display: none;  /* hide whole page */
            //- }
        //- }

        //- .redColor{
            background: red;
        //- }
    body
        p
            |Hello World
        p.redColor
            abc
    script(type="text/javascript" src="common/js/index.js")